/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

.header {
	flex-direction: column;
	margin-top: 0;
}

.header--row {
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
}

section {
	margin: 50px 0
}

.blackbox {
	position: absolute;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 59px;
	background-color: black;
	gap: 8px;
}

.blackbox a {
	color: white;
	text-decoration: none;
}

.blackbox__button {
	display: flex;
	justify-content: center;
	font-family: 'Work Sans';
	font-weight: 600;
	font-size: 14px;
	color: black;
	background-color: white;
	border-radius: 60px;
	padding: 12px;
	width: 192px;
	margin-left: 13px;
	cursor: pointer;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	cursor: pointer;

}

nav a {
	text-decoration: none;
	color: black;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

.black {
	font-weight: 700;
}

li:hover {
	color: #B1663C;
}

.margin-top {
	margin-top: 162px;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction .row {
	display: flex;
	align-items: center;
	gap: 8px;
	margin: 13px 0 0 57px
}

#introduction .row2 {
	position: absolute;
	z-index: 0;
	top: 250px;
	margin: 0 0 19px 1px;
	cursor: pointer;
}

#introduction .pen {
	height: 20px;
	width: 20px;
	margin: 0;
}

#introduction article {
	flex: 1
}

#introduction a {
	color: black;
	text-decoration: none;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.portfolio h2 {
	margin: 0 23px 0 134px;

}

.portfolio a {
	color: black;
	text-decoration: none;
}

.porfolio__projets {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	margin-bottom: 92px;
}

.filtres {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin: 51px 0 51px 0;
}

.filtres__button {
	display: flex;
	justify-content: center;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 60px;
	padding: 9.5px;
	min-width: 78px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.filtres__button:hover {
	background-color: #0E2F28;
	color: white;
}

.active {
	background-color: #1D6154;
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery__item.show {
	animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.gallery__item.hide {
	display: none;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}

.button:hover {
	background-color: #0E2F28;
	color: white;
}

.log_forget {
	display: flex;
	justify-content: center;
	text-decoration: underline;
	color: black;
}

#erreur {
	display: flex;
	justify-content: center;
	font-weight: 700;
	font-size: 20px;
	color: red;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.absolute {
	position: absolute;
	bottom: 0px;
}

.relative {
	position: relative;
	left: 921.7px;
}

/*CSS de la modale*/

h3 {
	display: flex;
	justify-content: center;
	font-weight: 400;
	font-size: 26px;
	margin: 10px 0 46px 0;
}



.js-modal-close,
.js-modal2-close {
	margin: 10px 0 0 570px;
	cursor: pointer;
}

.js-modal2-return {
	position: relative;
	top: -17px;
	cursor: pointer;
}

#modal1 .button,
#modal2 .button {
	display: flex;
	justify-content: center;
	border: none;
	width: 237px;
	height: 36px;
	margin-top: 38px;
	margin-bottom: 23px;
}

#modal1 figure {
	height: 145px;
}

.gallery--center,
.form--center {
	display: flex;
	justify-content: center;
}

.gallery-modal {
	width: 77%;
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 8px;
	border-bottom: 0.3px solid #B3B3B3;
	padding-bottom: 47px;
}



.gallery-modal img {
	width: 100%;

}

.trash {
	position: relative;
	top: -124px;
	left: 62px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 17px;
	height: 17px;
	border-radius: 2px;
	background-color: black;
	cursor: pointer;
}

.trash img {
	width: 9px;
	height: 9px;
}

#modal1 span {
	display: flex;
	justify-content: center;
	font-weight: 400;
	font-size: 14px;
	color: red;
	cursor: pointer;
	margin-bottom: 28px;
}

:focus {
	box-shadow: 1px 0 0 black
}

.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	animation: fadeIn .3s both
}

.modal-wrapper {
	overflow: auto;
	width: 590px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	border-radius: 10px;
	padding: 20px;
	background-color: #fff;
	animation: slideFromTop .3s both
}

.form-modal label {
	font-weight: 600;
	font-size: 14px;
	color: #3D3D3D;
}

.js-modal-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	width: 237px;
	height: 36px;
	margin-top: 38px;
	margin-bottom: 23px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	text-decoration: none;
	background-color: #1D6154;
	margin: 2em auto;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}

.js-modal-2:hover {
	background-color: #0E2F28;
}

.post__background {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 420px;
	height: 169px;
	background-color: #E8F1F6;
	margin-bottom: 30px;
}



.post__button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	width: 173px;
	height: 36px;
	margin-top: 21px;
	margin-bottom: 7px;
	font-family: 'Syne';
	font-weight: 500;
	color: #306685;
	text-decoration: none;
	background-color: #CBD6DC;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}

.post__img {
	position: absolute;
	top: 212px;
	width: 173px;
	height: 60px;
	opacity: 0;
	cursor: pointer;
}

.post__preview {
	position: absolute;
	width: 129px;
	height: 169px;
	opacity: 0;
}

.post__background span {
	font-weight: 400;
	font-size: 10px;
}

.post__text {
	width: 404px;
	height: 51px;
	border: none;
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 14px;
	color: #444444;
	padding-left: 16px;
	box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
	transition: 0.3s;
	margin: 10px 0 21px 0;
}

.post__select {
	width: 420px;
	height: 51px;
	border: none;
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 14px;
	color: #444444;
	padding-left: 16px;
	box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
	transition: 0.3s;
	margin-top: 10px;
}

.modal[aria-hidden=true] {
	animation-name: fadeOut
}

.modal[aria-hidden=true] .modal-wrapper {
	animation-name: slideToBottom
}

@keyframes fadeIn {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@keyframes fadeOut {
	from {
		opacity: 1
	}

	to {
		opacity: 0
	}
}

@keyframes slideFromTop {
	from {
		transform: translateY(-50px)
	}

	to {
		transform: translateY(0)
	}
}

@keyframes slideToBottom {
	from {
		transform: translateY(0)
	}

	to {
		transform: translateY(50px)
	}
}